.splide {
    visibility: visible;
}
.main-slide {
    margin-top: 5rem;
    height: calc(100vh - 7.5rem);
    border-radius: 1.875rem;
    overflow: hidden;
}
.main-slide .splide__track {
    height: 100%;
}
.main-slide .slide-list > li {
    display: flex;
    align-items: center;
    position: relative;
}
.main-slide .slide-list > li::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.2);
  pointer-events: none;
}
.main-slide .slide-list > li.slide-03:before {
  background: rgba(0, 0, 0, 0.3);
}
.main-slide .slide-list > li.slide-01 {
    background: url('/res/images/main/visual_img_01.jpg') no-repeat left bottom;
    background-size: cover;
}
.main-slide .slide-list > li.slide-02 {
    background: url('/res/images/main/visual_img_02.jpg') no-repeat center center;
    background-size: cover;
}
.main-slide .slide-list > li.slide-03 {
    background: url('/res/images/main/visual_img_03.jpg') no-repeat center bottom;
    background-size: cover;
}
.main-slide .slide-list > li.slide-04 {
    background: url('/res/images/main/visual_img_04.jpg') no-repeat center bottom;
    background-size: cover;
}
.main-slide .slide-list .text-wrap {
    padding-left: 4.375rem;
    padding-right: 4.375rem;
    padding-bottom: 11.875rem;
    z-index: 2;
    width: 100%;
}
.main-slide .slide-list .text-wrap strong {
    font-size: 3.75rem;
    line-height: 1.3;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #fff;
}
.main-slide .slide-list .text-wrap p {
    margin-top: 2.8125rem;
    font-size: 1.375rem;
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}
.main-slide .slide-progress {
    left: 4.375rem;
    bottom: 6.25rem;
    gap: .5rem;
    display: flex;
    position: absolute;
}
.main-slide .slide-progress .bar {
    width: 5rem;
    height: 4px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.3);
    transition: background-color 0.3s, transform 0.3s;
    cursor: pointer;
}
.main-slide .slide-progress .bar.active {
    background-color: #fff;
}
.main-slide .slide-toggle-btn {
    right: 4.375rem;
    bottom: 4.8125rem;
    width: 3.125rem;
    height: 3.125rem;
    font-size: 0;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}
.main-slide .slide-toggle-btn:hover {
    background: rgba(255, 255, 255, 0.3);
    border-color: rgba(255, 255, 255, 0.6);
    transform: scale(1.1);    
}
.main-slide .slide-toggle-btn .icon {
    font-size: 2rem;
    color: #fff;
}