.main-slide {
    margin-top: 5rem;
    height: calc(100vh - 7.5rem);
    border-radius: 1.875rem;
    overflow: hidden;
}
.main-slide .splide__track {
    height: 100%;
}
.main-slide .slide-list > li {
    display: flex;
    align-items: center;
    position: relative;
}
.main-slide .slide-list > li::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.2);
    pointer-events: none;
}
.main-slide .slide-list > li.slide-03:before {
    background: rgba(0, 0, 0, 0.3);
}
.main-slide .slide-list > li.slide-01 {
    background: url('../images/main/visual_img_01.jpg') no-repeat left bottom;
    background-size: cover;
}
.main-slide .slide-list > li.slide-02 {
    background: url('../images/main/visual_img_02.jpg') no-repeat center center;
    background-size: cover;
}
.main-slide .slide-list > li.slide-03 {
    background: url('../images/main/visual_img_03.jpg') no-repeat center bottom;
    background-size: cover;
}
.main-slide .slide-list > li.slide-04 {
    background: url('../images/main/visual_img_04.jpg') no-repeat center bottom;
    background-size: cover;
}
.main-slide .slide-list .text-wrap {
    padding-left: 8.5625rem;
    padding-right: 8.5625rem;
    padding-bottom: 11.875rem;
    z-index: 2;
    width: 100%;
}
.main-slide .slide-list .text-wrap strong {
    font-size: 3.75rem;
    line-height: 1.3;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #fff;
}
.main-slide .slide-list .text-wrap p {
    margin-top: 2.8125rem;
    font-size: 1.375rem;
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}
.main-slide .slide-progress {
    left: 8.5625rem;
    bottom: 6.25rem;
    gap: .5rem;
    display: flex;
    position: absolute;
}
.main-slide .slide-progress .bar {
    width: 5rem;
    height: 4px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.3);
    transition: background-color 0.3s, transform 0.3s;
    cursor: pointer;
}
.main-slide .slide-progress .bar.active {
    background-color: #fff;
}
.main-slide .slide-toggle-btn {
    right: 8.5625rem;
    bottom: 4.8125rem;
    width: 3.125rem;
    height: 3.125rem;
    font-size: 0;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}
.main-slide .slide-toggle-btn:hover {
    background: rgba(255, 255, 255, 0.3);
    border-color: rgba(255, 255, 255, 0.6);
    transform: scale(1.1);    
}
.main-slide .slide-toggle-btn .icon {
    font-size: 2rem;
    color: #fff;
}
.main-slide .slide-arrows .arrows {
    background: none;
}
.main-slide .slide-arrows .arrow-prev {
    left: 2rem;
}
.main-slide .slide-arrows .arrow-next {
    right: 2rem;
}
.main-slide .slide-arrows span {
    font-size: 3.75rem;
    transition: all 0.3s;
    color: rgba(255, 255, 255, 0.3);
}
.main-slide .slide-arrows span:hover {
    color: #fff;
}

.main-contents {
    padding: 6.25rem 8.5625rem;
}
.main-contents .title-wrap h2 {
    font-size: 3rem;
    font-family: 'Poppins';
}
.main-contents .title-wrap p {
    font-size: 1.125rem;
    color: #57575b;
}

.main-contents .more-btn {
    margin-top: 3.75rem;
}
.main-contents .more-btn a {
    gap: .25rem;
    font-size: 1.125rem;
    align-items: center;
    display: flex;
    color: #212126;
}
.main-contents .more-btn a:hover span {
    animation: moveArrow 0.8s infinite alternate ease-in-out;
}
@keyframes moveArrow {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(.125rem);
    }
    100% {
        transform: translateX(0);
    }
}

.main-brand {
    display: flex;
    justify-content: space-between;
}
.main-brand .content ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.25rem;
}
.main-brand .content li {
    width: 17.625rem;
    height: 17.625rem;
    border-radius: 1.25rem;
    padding: 1.25rem;
    row-gap: 2.1875rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 0.3s;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.07);
    background: #f6f7f8;
}
.main-brand .content li:first-child {
    background: none;
    box-shadow: none;
}
.main-brand .content li:not(:first-child):hover {
    background: #e30512;
} 
.main-brand .content li img {
    max-width: 6.25rem;
}
.main-brand .content li span {
    font-size: 1.375rem;
    font-weight: 700;
    color: #212126;
}
.main-brand .content li .hover-text {
    opacity: 0;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.3;
    text-align: center;
    display: none;
    color: #fff;
}
.main-brand .content li:not(:first-child):hover span {
    display: none;
}
.main-brand .content li:not(:first-child):hover .hover-text {
    opacity: 1;
    display: block;
}

.main-performance {
    display: flex;
    justify-content: space-between;
}
.main-performance .name-box {
    display: flex;
    align-items: center;
}
.main-performance .name-box .icon {
    color: #c3c3c5;
}
.main-performance .name-box .text {
    margin-left: .25rem;
    font-size: 1.125rem;
    color: #57575b;
}
.main-performance ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3.625rem 3.9375rem;
}
.main-performance ul li {
    padding-top: 1.0625rem;
    width: 21.0625rem;
    border-top: 1px solid #c3c3c5;
}
.main-performance ul li .count em {
    font-size: 5.625rem;
}
.main-performance ul li .count span {
    color: #212126;
} 

.main-business-slide {
    margin-top: 4.1875rem;
}
.main-business-slide > div {
    overflow: visible;
}
.main-business-slide .slide-list > li {
    border-radius: .625rem;
    min-height: 31.25rem;
}
.main-business-slide .slide-list > .slide-01 {
    background: url(../images/main/business_img_01.png) no-repeat center;
}
.main-business-slide .slide-list > .slide-02 {
    background: url(../images/main/business_img_02.png) no-repeat center;
}
.main-business-slide .slide-list > .slide-03 {
    background: url(../images/main/business_img_03.png) no-repeat center;
}
.main-business-slide .slide-list > .slide-04 {
    background: url(../images/main/business_img_04.png) no-repeat center;
}
.main-business-slide .slide-list > .slide-01,
.main-business-slide .slide-list > .slide-02,
.main-business-slide .slide-list > .slide-03,
.main-business-slide .slide-list > .slide-04 {
    background-size: 100% 100%;
    transition: background-size 0.3s ease-in-out;
}
.main-business-slide .slide-list > .slide-01:hover,
.main-business-slide .slide-list > .slide-02:hover,
.main-business-slide .slide-list > .slide-03:hover,
.main-business-slide .slide-list > .slide-04:hover {
    background-size: 106% 106%;
}
.main-business-slide .slide-list > li > a {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-business-slide .slide-list > li > a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: .625rem;
    background: linear-gradient(to top, rgba(0,0,0,0.6), rgba(0,0,0,0));
    pointer-events: none;
}
.main-business-slide .text-wrap {
    font-size: 2.125rem;
    z-index: 1;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #fff;
}
.main-business-slide .text-wrap > span {
    font-weight: 700;
}
.main-business-slide .eng-name-box {
    display: flex;
    align-items: center;
    gap: .625rem;
}
.main-business-slide .eng-name-box b {
    font-family: 'Poppins';
}
.main-business-slide .eng-name-box .icon {
    font-size: 2rem;
}
.main-business-slide .slide-list > li:hover .eng-name-box .icon {
    animation: moveArrow 0.8s infinite alternate ease-in-out;
}
@keyframes moveArrow {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(.125rem);
    }
    100% {
        transform: translateX(0);
    }
}
.main-business-slide p {
    z-index: 1;
    opacity: 0.8;
    bottom: 1.375rem;
    position: absolute;
    color: #fff;
}
.slide-business-progress {
    width: 85%;
    padding-left: 4.0625rem;
    margin: 25px auto 0;
    gap: 4.0625rem;
    display: flex;
}
.slide-business-progress button {
    font-size: 1.5rem;
    font-weight: 700;
    font-family: 'Poppins';
    color: #c3c3c5;
}
.slide-business-progress button.active {
    color: #212126;
}